<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>
        <div class="nav">
            <a href="/"><button type='button'>Home</button></a>
            <a href="/projects"><button type='button'>Projects</button></a>
            <a href="/contacts"><button type='button'>Contacts</button></a>
            
            
        </div> 

        <h1>Contact Us</h1>

        <form class="form">
            Name: <input class="user" type="text" name="name" value=""><br>
            Email:  <input class="user" type="text" name="email" value=""><br>
            <p> Message:</p> 
            <textarea class="user" name="message" placeholder"Enter message here" rows="5" Cols="50"value=""></textarea><br>
            <input type="submit" value="Send">
        </form>
    </body>


</html>
