<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
         <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>
        <div class="nav">
            <a href="/"><button type='button'>Home</button></a> 
            <a href="/projects"><button type='button'>Projects</button></a>
            <a href="/contacts"><button type='button'>Contacts</button></a>
           
            
        </div>

        <h1>Welcome to my website!</h1>

        <div class="intro">
            <div class="box1" class="pic">
                <h3>Eric Ofori</h3>
                <img class="portrait" src="~/images/20170330_173104copy.jpg" alt="Eric Ofori" style="width:300px">
            </div>


            <div class="box1" class="about_me">
                <h3>About Me</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>

        


    </body>

    

</html>
