<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="wrapper">
            <h1>Submitted Info:</h1>

            <div class="results">
                <p>Name: @ViewBag.nameField</p>
                <p>Dojo Location: @ViewBag.locationField</p>
                <p>Favorite Language: @ViewBag.languageField</p>
                <p>Comments: @ViewBag.commentsField</p>
            </div>
        </div>
    </body>
  
</html>
