
@{
    ViewData["Title"] = "Home Page";
}
<a href="/logout">Logout</a>
<h1>Welcome to the Wall!</h1>

<p>CurrentUser Id</p>
<p>@ViewBag.CurrentUser</p>

<h3>Post to the wall</h3>
<div>
    @if(ViewBag.MessageErrors != null)
    {
    <p>@ViewBag.MessageErrors[0]</p>
    }
</div>

<form action="/addmessage" method="post">
    <!-- <span asp-validation for="Content"></span> -->
    <textarea name="content" cols="70" rows="5"></textarea><br>
    <input type="submit" value="Post Message!">

</form>

<h3>See posts from your colleagues</h3>