<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
        <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/js/myscripts.js"></script>

    </head>
    <body>
        <div class="wrapper">
            <h1>Random Passcode Generator</h1>

            <div class="generate">
                <!-- <p>Random Passcode (passcode # @ViewBag.refreshCount )</p> -->
                <p class="refreshcount">RefreshCount</p>
                    <div class="passcode">
                        <p class="passcode"></p>
                    </div>
                    <button type="submit">Generate</button>
                      <!-- <a href="/"><button type="submit">Generate</button></a> -->
            </div>
        </div>
    </body>


</html>