<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
         <link rel="stylesheet" href="~/css/style.css"/> 
    </head>
    <body>
        <div class="nav">
            <a href="/"><button type='button'>Home</button></a>
            <a href="/projects"><button type='button'>Projects</button></a>
            <a href="/contacts"><button type='button'>Contacts</button></a>
           
            
        </div>

        <h1>Projects</h1>

        <div class="projects">
            <div class="one">
                <h3>Deck of Cards</h3>
                <img class="portrait" src="~/images/20170330_173104copy.jpg" alt="Eric Ofori" style="width:300px">
                <p><span class="description">Description:</span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>

            <div class="two">
                <h3>Playmate</h3>
                <img class="portrait" src="~/images/20170330_173104copy.jpg" alt="Eric Ofori" style="width:300px">
                <p><span class="description">Description:</span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>

            <div class="two">
                <h3>Let's Tango</h3>
                <img class="portrait" src="~/images/20170330_173104copy.jpg" alt="Eric Ofori" style="width:300px">
                <p><span class="description">Description:</span> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>
        </div>



    </body>

    

</html>
