@{
    Layout = "_Layout";
}


<h2>Poke Info</h2>

<h3 id="name">Something</h3>
<h3 id="height">Something</h3>
<h3 id="Weight">Something</h3>
<h3 id="type">Something</h3>


<p>@ViewBag.Pokemon.name</p>